<div id="page-wrapper">
    <div class="container-fluid margin-layout">

      <!-- Page Heading -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
                  Tweet 
                  <% @search.keywords.split(" ").each do |keyword| %>
                    <small><span class="badge"><%= keyword %></span></small>
                  <% end %>                    
              </h1>
              <ol class="breadcrumb">
                  <li>
                      <i class="fa fa-dashboard"></i>  <%= link_to "Inicio", dashboard_index_path %>
                  </li>
                  <li>
                      <i class="glyphicon glyphicon-search"></i>  <%= link_to "Búsqueda", search_path(@search) %>
                  </li>
                  <li class="active">
                      <i class="glyphicon glyphicon-asterisk"></i> Tweet
                  </li>
              </ol>
          </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Detalle de Búsqueda</div>
            <div class="panel-body">

              <p>
                <strong>ID:</strong>
                <%= @tweet.twitters_tweet[:id_str] %>
              </p>

              <p>
                <strong>Text:</strong>
                <%= @tweet.twitters_tweet[:text] %>
              </p>

              <p>
                <strong>Georeference (lat, lon; rad):</strong>
                <% if @tweet.twitters_tweet[:geo] %>
                  <%= @tweet.twitters_tweet[:geo][:coordinates][0] %>, <%= @tweet.twitters_tweet[:geo][:coordinates][1] %>
                <% else %>
                  Indefinido
                <% end %>
              </p>

              <p>
                <strong>Created At:</strong>
                <%= @tweet.twitters_tweet[:created_at] %>
              </p>


              <%= link_to 'Editar', edit_search_tweet_path(@search, @tweet), class: "btn btn-warning btn-sm" %>


            </div>
            <!-- /.panel-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
</div>