<div id="date-slider">
	<form action="#">
		<fieldset>
			<label for="valueA">Fecha Inicial:</label>
			<select name="valueA" id="valueA">
				<% @years.each do |year| %>
					<optgroup label="<%= year %>">
						<% @months.each do |month| %>
							<% (1..days_in_month(month[:id], year)).each do |day| %>
								<% unless @first_date.month == month[:id] and @first_date.day == day %>
									<option value="<%= day %>/<%= month[:id] %>">
										<%= "#{month[:name].first(3)} #{day}" %>
									</option>
								<% else %>
									<option value="<%= day %>/<%= month[:id] %>" selected="selected">
										<%= "#{month[:name].first(3)} #{day}" %>
									</option>
								<% end %>
							<% end %>
						<% end %>
					</optgroup>
				<% end %>
			</select>

			<label for="valueB">Fecha Final:</label>
			<select name="valueB" id="valueB">
				<% @years.each do |year| %>
					<optgroup label="<%= year %>">
						<% @months.each do |month| %>
							<% (1..days_in_month(month[:id], year)).each do |day| %>
								<% unless @last_date.month == month[:id] and @last_date.day == day %>
									<option value="<%= day %>/<%= month[:id] %>">
										<%= "#{month[:name].first(3)} #{day}" %>
									</option>
								<% else %>
									<option value="<%= day %>/<%= month[:id] %>" selected="selected">
										<%= "#{month[:name].first(3)} #{day}" %>
									</option>
								<% end %>
							<% end %>
						<% end %>
					</optgroup>
				<% end %>
			</select>
		</fieldset>
	</form>
</div>

<script type="text/javascript">

	$( "#date-slider" ).on( "slide", function( event, ui ) {
		console.log(ui);
	});

</script>
