
<%= form_tag({controller: "searches", action: "create"}, 
                        method: "post", 
                        class: "form-horizontal", 
                        remote: true,
                        id: "search-form") do %>

  <div id="searchtype-form">
    <%= render partial: @searchtype_selected.name+"_fields" %>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Georeferencias</div>
    <div class="panel-body">

        <div class="form-group">
          <%= label_tag :zone, "Zona", class: "control-label col-xs-2" %>
          <div class="col-xs-6">
            <%= text_field_tag :zone, nil, class: "form-control", placeholder: "Ciudad, Región o País" %>
          </div>
          <div class="col-xs-3">
            <!-- Button trigger modal -->
            <button id="btn-modal-area" type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Área de búsqueda
            </button>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Georeferencia</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-6">
                    <div id="map"></div>
                  </div>

                  <div class="col-xs-6">

                    <div class="form-group">
                      <%= label_tag :modal_zone, "Zona", class: "control-label col-xs-2" %>
                      <div class="col-xs-6">
                        <%= text_field_tag :modal_zone, nil, class: "form-control", placeholder: "Ciudad, Región o País" %>
                      </div>
                    </div>

                    <div class="form-group">                    
                      <%= label_tag :radius, "Radio (kms)", class: "control-label col-xs-2" %>
                      <div class="col-xs-3 slider-box">
                        <!-- <input id="radius" class"form-control" /> -->
                        <%= number_field_tag :radius, 10, class: "form-control", min: 1, max:100 %>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= label_tag :latitude, "Latitud", class: "control-label col-xs-2" %>
                      <div class="col-xs-4">
                        <%= text_field_tag :latitude, nil, class: "form-control" %>
                      </div>
                      <div class="col-xs-3">
                        <%= label_tag :measurement_lat, "Grados", class: "control-label" %>
                      </div> 
                    </div>
              
                    <div class="form-group">
                      <%= label_tag :longitude, "Longitud", class: "control-label col-xs-2" %>
                      <div class="col-xs-4">
                        <%= text_field_tag :longitude, nil, class: "form-control" %>
                      </div>
                      <div class="col-xs-3">
                        <%= label_tag :measurement_long, "Grados", class: "control-label" %>
                      </div>
                    </div>
                    <%#= range_field_tag :radius_slider, 1, min: 1, max: 100 %>


                  </div>

                </div> <!-- .row -->
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Criterios de parada</div>
    <div class="panel-body">
      <div class="form-group">
        <%= label_tag :time_stop, "Tiempo", class: "control-label col-xs-2" %>
        <div class="col-xs-1">
          <%= check_box_tag :check_period, 'yes', false, class: "checkbox-reduce form-control" %>
        </div>
        <div class="col-xs-3">
          <%= text_field_tag :time_stop, nil, options: {:step => 1}, class: "hasDatepicker form-control", placeholder: "HH:mm:ss", disabled: "disabled" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :data_stop, "Datos", class: "control-label col-xs-2" %>
        <div class="col-xs-1">
          <%= check_box_tag :check_data, 'yes', false, class: "checkbox-reduce form-control" %>
        </div>
        <div class="col-xs-3">
          <%= number_field_tag :data_stop, nil, min: 0, class: "form-control", placeholder: "Cantidad de datos", disabled: "disabled" %>
        </div>
      </div>
      
    </div>
  </div>

  
<% end %>

<script type="text/javascript">

  var $btn_search, $check_data, $check_period, $key_words, $stop_data, $stop_period, $test_div;

  $key_words = $('#keywords');

  $check_period = $('#check_period');

  $stop_period = $('#time_stop');

  $check_data = $('#check_data');

  $stop_data = $('#data_stop');

  $btn_search = $('#search-btn');

  $test_div = $('#test-div');

  $stop_period.timepicker({
    'timeFormat': 'H:i:s',
    'step': 0.5
  });

  $check_period.click(function() {
    $stop_period.attr('disabled', !this.checked);
  });

  $check_data.click(function() {
    $stop_data.attr('disabled', !this.checked);
  });

  $('#search-form').one('submit', function() {
    var spinner, target;
    $(this).find('input[type="submit"]').prop('disabled', "disabled");
    $(this).find('input[type="submit"]').prop('value', "Buscando...");
    target = document.getElementById('search-spinner');
    spinner = new Spinner().spin(target);
  });




  $(function() {
    $("#latitude").prop('value', "-33.448889699999995");
    return $("#longitude").prop('value', "-70.6692655");
  });

  var setSliderListener, updateRadius;

  updateRadius = function(circle, rad) {
    circle.setRadius(rad * 1000);
  };

  setSliderListener = function(circle) {
    return $('#radius').on('slide', function(slideEvt) {
      updateRadius(circle, slideEvt.value);
    });
  };

  $('#radius').slider({
    orientation: 'horizontal',
    max: 100,
    min: 1,
    value: 10
  });

  $('#radius').slider({
    formatter: function(value) {
      return 'Radio: ' + value + 'kms';
    }
  });





  var initialize, map, marker, myCenter, resizeMap, resizingMap, setValueLatLng;

  map = void 0;

  myCenter = new google.maps.LatLng(-33.448889699999995, -70.6692655);

  marker = new google.maps.Marker({
    position: myCenter,
    draggable: true
  });

  setValueLatLng = function(lat, lng) {
    $('#latitude').prop('value', lat);
    $('#longitude').prop('value', lng);
  };

  initialize = function() {
    var circle, mapProp;
    mapProp = {
      center: myCenter,
      zoom: 10,
      draggable: true,
      scrollwheel: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map'), mapProp);
    marker.setMap(map);
    google.maps.event.addListener(marker, 'drag', function(event) {
      setValueLatLng(event.latLng.lat(), event.latLng.lng());
    });
    google.maps.event.addListener(marker, 'dragend', function(event) {
      setValueLatLng(event.latLng.lat(), event.latLng.lng());
    });
    google.maps.event.addListener(map, 'click', function(event) {
      marker.setPosition(event.latLng);
      map.setCenter(event.latLng);
      setValueLatLng(event.latLng.lat(), event.latLng.lng());
    });
    circle = new google.maps.Circle({
      map: map,
      clickable: false,
      radius: 10000,
      fillColor: '#55BF3B',
      strokeColor: '#313131',
      strokeOpacity: .4,
      strokeWeight: .8
    });
    circle.bindTo('center', marker, 'position');
    setSliderListener(circle);
  };

  resizeMap = function() {
    if (typeof map === 'undefined') {
      return;
    }
    setTimeout((function() {
      resizingMap();
    }), 400);
  };

  resizingMap = function() {
    var center;
    if (typeof map === 'undefined') {
      return;
    }
    center = map.getCenter();
    google.maps.event.trigger(map, 'resize');
    map.setCenter(center);
  };

  google.maps.event.addDomListener(window, 'load', initialize);

  google.maps.event.addDomListener(window, 'change', initialize);

  google.maps.event.addDomListener(window, 'resize', resizingMap());

  $('#myModal').on('show.bs.modal', function() {
    resizeMap();
  });


</script>


<!-- 
<%#= form_for(@search) do |f| %>
  <%# if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <%# @search.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= f.label :search_type %><br>
    <%#= f.text_field :search_type %>
  </div>
  <div class="field">
    <%#= f.label :keywords %><br>
    <%#= f.text_field :keywords %>
  </div>
  <div class="field">
    <%#= f.label :georeference %><br>
    <%#= f.text_field :georeference %>
  </div>
  <div class="field">
    <%#= f.label :depth_level %><br>
    <%#= f.text_field :depth_level %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>
<%# end %>
 -->