<div id="page-wrapper">
    <div class="container-fluid margin-layout">

    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Búsquedas <!-- <small>Quedan <span class="label label-<%#= @n_calls <= 1 ? 'danger' : 'success' %>"><%= @n_calls %> llamadas</span></small> -->
                    
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <%= link_to "Inicio", dashboard_index_path %>
                    </li>
                    <li class="active">
                        <i class="glyphicon glyphicon-th-list"></i> Listar Búsquedas
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">Búsquedas realizadas</div>
                  <!-- <div class="panel-body">

                  </div> -->

                  <table class="table">
                    <thead>
                      <tr>
                        <th>Search type</th>
                        <th>Search words</th>
                        <th>Data</th>
                        <th>Created At</th>
                        <!-- <th>Georeference (lat, lng; radio)</th> -->
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @searches.each do |search| %>
                        <tr>
                          <% if search.search_type %>
                            <td><%= search.search_type %></td>
                          <% else %>
                            <td>Indefinido</td>
                          <% end %>
                          <td><%= search.keywords %></td>
                          <td><%= is_tuser(search.search_type) ? search.twitter_users.count : search.tweets.count %></td>
                          <td><%= search.created_at %></td>
                          <% if search.search_type == "tusers" %>
                            <td><%= link_to 'Ver', search_show_users_path(search), class: "btn btn-info btn-sm" %></td>
                          <% else%>
                            <td><%= link_to 'Ver', search_show_tweets_path(search), class: "btn btn-info btn-sm" %></td>
                          <% end %>
                          <td><%= link_to 'Editar', edit_search_path(search), class: "btn btn-warning btn-sm" %></td>
                          <td><%= link_to 'Eliminar', search, method: :delete,# data: { confirm: 'Are you sure?' }, 
                          class: "btn btn-danger btn-sm" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                 
                </div>

          </div>
          <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->

  </div>
</div>