<div id="page-wrapper">
    <div class="container-fluid margin-layout">

    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Búsqueda 
                    <% @search.keywords.split(" ").each do |keyword| %>
                    	<small><span class="badge"><%= keyword %></span></small>
                    <% end %>                    
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <%= link_to "Inicio", dashboard_index_path %>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-th-list"></i>  <%= link_to "Listar Búsquedas", searches_path %>
                    </li>
                    <li class="active">
                        <i class="glyphicon glyphicon-search"></i> Búsqueda
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
				<div class="panel-heading">Detalle de Búsqueda</div>
				<div class="panel-body">
					<div class="col-lg-7">
		                
            <div class="panel panel-default">
							<div class="panel-body">

								<p>
								  <strong>Search type:</strong>
			                      <%= @search.search_type ? @search.search_type : "Indefinido" %>
								</p>

								<p>
								  <strong>Keywords:</strong>
								  <%= @search.keywords %>
								</p>

								<p>
								  <strong>Georeference (lat, lng; rad):</strong>
								  <% if @search.latitude or @search.longitude or @search.radius %>
			                        <%= @search.latitude %>, <%= @search.longitude %>; <%= @search.radius %>km
			                      <% else %>
			                        Indefinido
			                      <% end %>
								</p>

								<p>
								  <strong>Depth level:</strong>
								  <%= @search.depth_level ? @search.depth_level : "Indefinido" %>
								</p>
							</div>
						</div>

						<%#= link_to 'Editar', edit_search_path(@search), class: "btn btn-warning btn-sm" %>
					</div>
					<div class="col-lg-5">
						<div id="show-search-map"></div>
        	</div>
				</div>
				<!-- /.panel-body -->

				<table class="table">
					<thead>
					  <tr>
					    <th>Author</th>
					    <th>Text</th>
					    <th>Georeference (lat, lng)</th>
					    <th>Created At</th>
					    <th colspan="2"></th>
					  </tr>
					</thead>

					<tbody>
					  <% @search.tweets.each do |aps_tweet| %>
					    <tr>
					      <td><%= aps_tweet.twitters_tweet[:user][:screen_name] %></td>
					      <td><%= aps_tweet.twitters_tweet[:text] %></td>
					      <% if aps_tweet.twitters_tweet[:geo] %>
					        <td><%= aps_tweet.twitters_tweet[:geo][:coordinates][0] %>, <%= aps_tweet.twitters_tweet[:geo][:coordinates][1] %></td>
					      <% else %>
					        <td>Indefinido</td>
					      <% end %>
					      <td><%= aps_tweet.twitters_tweet[:created_at] %></td>
					      <td><%= link_to 'Ver', search_tweet_path(@search, aps_tweet), class: "btn btn-info btn-sm" %></td>
					      <!-- <td><%#= link_to 'Editar', edit_search_tweet_path(@search, aps_tweet), class: "btn btn-warning btn-sm" %></td> -->
					      <td><%= link_to 'Eliminar', search_tweet_path(@search, aps_tweet), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
					    </tr>
					  <% end %>
					</tbody>
				</table>

			</div>
		</div>
		<!-- /.row -->

	</div>
</div>

<script type="text/javascript">

  var initialize, map, marker, myCenter, resizeMap, resizingMap, setValueLatLng;
  var coordsArray = <%= raw @coords.to_json %>
  var geoPointArray = [];
  var markersArray = [];
  var latCenter = parseFloat("<%= escape_javascript @search.latitude %>");
  var lngCenter = parseFloat("<%= escape_javascript @search.longitude %>");
  var radiusCenter = parseInt("<%= escape_javascript @search.radius %>");
  map = void 0;

  myCenter = new google.maps.LatLng(latCenter, lngCenter);

  var index;

  for (index = 0; index < coordsArray.length; ++index) {
  	geoPointArray[index] = new google.maps.LatLng(coordsArray[index].lat, coordsArray[index].lng); 
  	markersArray[index] = new google.maps.Marker({
	    position: geoPointArray[index],
	    draggable: false,
	    title: "Autor: "+coordsArray[index].screen_name
    });
  }

  marker = new google.maps.Marker({
    position: myCenter,
    draggable: false
  });

  initialize = function() {
    var circle, mapProp;
    mapProp = {
      center: myCenter,
      zoom: 10,
      draggable: true,
      disableDefaultUI: true,
      disableDoubleClickZoom: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('show-search-map'), mapProp);
    // marker.setMap(map);
    for (index = 0; index < markersArray.length; ++index) {
		markersArray[index].setMap(map);
	}
    circle = new google.maps.Circle({
      map: map,
      clickable: false,
      radius: radiusCenter*1000,
      center: myCenter,
      fillColor: '#55BF3B',
      strokeColor: '#313131',
      strokeOpacity: .4,
      strokeWeight: .8
    });
  };

  resizeMap = function() {
    if (typeof map === 'undefined') {
      return;
    }
    setTimeout((function() {
      resizingMap();
    }), 400);
  };

  resizingMap = function() {
    var center;
    if (typeof map === 'undefined') {
      return;
    }
    center = map.getCenter();
    google.maps.event.trigger(map, 'resize');
    map.setCenter(center);
  };

  google.maps.event.addDomListenerOnce(window, 'mousemove', initialize);
  google.maps.event.addDomListener(window, 'resize', resizingMap());

</script>