<!DOCTYPE html>
<html>
	<head>
	  <title>Twittana</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<% if user_signed_in? %>

			<%= render 'partials/home_header' %>
			<div id="wrapper">
				<%= render 'partials/dashboard_header' %>
					<%= render 'partials/dashboard_sidebar' %>
				</nav>

		<% else %>
			<%= render 'partials/home_header' %>
		<% end -%>

		<%= render 'partials/messages' %>

		<%= yield %>
		
		<% if user_signed_in? %>
			</div>
		<% end -%>
		
		<%= render 'partials/home_footer' %>
		
	</body>
</html>
